<div class="center">
  <form class="example-form" (submit)="submit()">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="search movie" 
      aria-label="Number" matInput [formControl]="searchTerm" 
      [matAutocomplete]="auto"
      >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let item of films" [value]="item" routerLink="movie-detail" [queryParams]="{'film': item.title}">
          {{ item.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<div *ngIf="paginationStatus">
<mat-paginator #paginator
                [length]="length"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                (page)="pageEvent = getServerData($event)"
                >
 </mat-paginator>
</div>

<mat-grid-list cols="5" rowHeight="2:5" rowHeight="400px">
  <mat-grid-tile *ngFor="let film of films" >
    <mat-card>
      <img mat-card-image width="10%" [src]="film.poster == 'N/A' ? '../../../../assets/img/NoImage_Available.png' : film.poster" routerLink="/movie-detail" [queryParams]="{'film': film.title}">
      <mat-card-content>
        <h3>{{ film.title }}</h3>
      </mat-card-content>
      <mat-card-actions class="button-row">
        <button mat-raised-button color="primary" routerLink="/movie-detail" [queryParams]="{'film': film.title}" >More Info</button>
        <button mat-raised-button color="warn" (click)="saveFilm(film)" >Save</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>



<br><br>